.imgBox{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.laptop{
    /* border: 2px solid black;
    border-radius: 20px; */
    align-items: center;
    width: 60%;
    height: 50%;
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.animated-image, .animated-image1, .animated-image2,.animated-image3 ,.animated-image4  ,.animated-image5 ,.animated-image6    {
    opacity: 0; /* Initially hide the image */
    transform: scale(0.8); /* Scale down the image */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Add transition effects */
  }
  
  .animated-image.show , .animated-image1.show, .animated-image2.show, .animated-image3.show , .animated-image4.show , .animated-image5.show , .animated-image6.show{
    opacity: 1; /* Show the image */
    transform: scale(1); /* Scale back the image to its original size */
  }
  .featuresBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .boxes img:hover{
    opacity: 0.5;
  }
 