<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
     <link rel="stylesheet" href="../css/summarize.css">
     <link rel="stylesheet" href="../css/sidebar.css">


    <!----===== Iconscout CSS ===== -->
    <!-- <link rel="shortcut icon" href="./logo6.png" type="image/x-icon"> -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>SummAIrizer</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
               <!-- <img src="logo6.png" alt=""> -->
            </div>

            <span class="logo_name">SummAIrizer </span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="./index.html">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li>
                <li><a href="./summarize.html">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Summarize text</span>
                </a></li>
                <li><a href="./attendee.html">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Get Attendance</span>
                </a></li>
                <li><a href="./audio-to-text.html">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">Audio to Text</span>
                </a></li>
             
                <li><a href="#">
                    <i class="uil uil-comments"></i>
                    <span class="link-name">Team</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-share"></i>
                    <span class="link-name">Contact</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
          
                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            
            <!--<img src="images/profile.jpg" alt="">-->
        </div>

        <div class="dash-content">
            
        
                    <div class="summaryBox">
                        
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Summarize any vtt file in a click</span>
                </div>
                        <div class="btnBox">
                    
                          <button id="textButton" onclick="toggleText()">Paste Your Text</button>
                          <button id="uploadButton" onclick="toggleUpload()">Upload a File</button>
                        </div>
                        <form action="summary_result.html">
                            <div id="textContainer" class="hidden">
                                <textarea placeholder="Enter your raw text here "></textarea>
                                <br>
                              </div>
                              <div id="uploadContainer" class="hidden">
                                <input type="file" id="fileInput" accept=".txt">
                                <p>Drag and drop files here</p>
                                
                            </div>
                            <div class="finalBtn">
                                <button id="submitButton" type="submit" class="hidden">SUBMIT</button>
                                <button id="resetButton" type="reset" class="hidden">RESET</button>
                              </div>

                        </form>
             
                       
                      </div>
               
            
  
   
        </div>
    </section>

    <script src="../js/summarize.js"></script>
</body>
</html>
<script>
    const body = document.querySelector("body"),
      modeToggle = body.querySelector(".mode-toggle");
      sidebar = body.querySelector("nav");
      sidebarToggle = body.querySelector(".sidebar-toggle");

let getMode = localStorage.getItem("mode");
if(getMode && getMode ==="dark"){
    body.classList.toggle("dark");
}

let getStatus = localStorage.getItem("status");
if(getStatus && getStatus ==="close"){
    sidebar.classList.toggle("close");
}

modeToggle.addEventListener("click", () =>{
    body.classList.toggle("dark");
    if(body.classList.contains("dark")){
        localStorage.setItem("mode", "dark");
    }else{
        localStorage.setItem("mode", "light");
    }
});

sidebarToggle.addEventListener("click", () => {
    sidebar.classList.toggle("close");
    if(sidebar.classList.contains("close")){
        localStorage.setItem("status", "close");
    }else{
        localStorage.setItem("status", "open");
    }
})
</script>
<script>
    // Function to check if an element is in the viewport
   function isInViewport(element) {
     var rect = element.getBoundingClientRect();
     return (
       rect.top >= 0 &&
       rect.left >= 0 &&
       rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
       rect.right <= (window.innerWidth || document.documentElement.clientWidth)
     );
   }
   
   // Function to handle scroll event
   function handleScroll() {
     var animatedImage = document.querySelector('.animated-image');
     var animatedImage1 = document.querySelector('.animated-image1');
     var animatedImage2 = document.querySelector('.animated-image2');
     var animatedImage3 = document.querySelector('.animated-image3');
     var animatedImage4 = document.querySelector('.animated-image4');

     var animatedImage5 = document.querySelector('.animated-image5');

     var animatedImage6 = document.querySelector('.animated-image6');




     
     if (isInViewport(animatedImage)) {
       animatedImage.classList.add('show');
       animatedImage1.classList.add('show');
       animatedImage2.classList.add('show');
       animatedImage3.classList.add('show');
       animatedImage4.classList.add('show');
       animatedImage5.classList.add('show');
       animatedImage6.classList.add('show');




     }
   }
   
   // Attach scroll event listener
   window.addEventListener('scroll', handleScroll);
   
   </script>